* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body {
width: 100%;
height: 100%;
font-family: "calibri";
}
/*---- Header ---*/
header {
width: 100%;
height: auto;
background: transparent;
float: left;

}
header .top-header{
width: 100%;
height: 6.5rem;
}
header .contact{
line-height: 10px;
margin-top: 1.5rem;
}
/*header ends*/
/*---- slider ---- */
#banner{
width: 100%;
height: auto;
}
.carousel-caption h1 {
font-size: 60px;
}
#banner .carousel-caption p {
font-size: 40px;
}
#banner .btnc {
padding: 8px 40px;
font-size: 18px;
}
#banner .btnc2 {
padding: 8px 40px;
border: 1px solid #fff;
color: #fff;
font-size: 18px;
}
/*slider ends*/
.navbar-nav .nav-link{
font-size: 18px;
margin:0px 0px 0px 25px;
}

/*--- About ---*/
#about {
width: 100%;
float: left;
min-height: 550px;
}
#about .title1 {
font-size: 50px;
}
#about .abtparatitle,
.abtpara {
font-size: 25px;
}
#about .abtpara {
font-size: 18px;
color: #777777;
line-height: 24px;
}
/*About ends*/
/*--- Services ---*/
#service {
width: 100%;
min-height: 400px;
float: left;
background-color:#efefef;
}
/*--- Services ---*/
/*-- contact --*/
#contact {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
float: left;
min-height:200px;
}
#contact .cbtn {
padding: 8px 80px;
}
/*-- contact ends--*/
/*--  footer ---*/
#footer-top {
width: 100%;
min-height:300px;
float: left;
}
#footer {
width: 100%;
min-height:70px;
float: left;
}
.quicklinks ul{
list-style-type: none;
}
.quicklinks ul li{
   font-size: 18px;
}
.quicklinks ul li a{
display: block;
color: #343a40;
text-decoration:none;
}
.address ul{
list-style-type: none;
}
.address ul li{
   font-size: 18px;
}
.address ul li a{
display: block;
color: #343a40;
text-decoration:none;
}
.social ul{
list-style-type: none;
}
.social ul li{
   font-size: 18px;
   float: left;
   padding: 8px 8px;
}
.social ul li a{
display: block;
color: #343a40;
text-decoration:none;
}

/*--  footer ends---*/
/*-- carousel --*/
/*-- carousel --*/
/*responsive*/
@media only screen and (max-width: 768px) {
#footer,#contact,#about,#service{
height: 100%;
}
#about .title1 {
font-size: 45px;
}
.carousel-caption {
bottom:60px;
}
.carousel-caption h1 {
font-size: 40px;
}
#banner .carousel-caption p {
font-size: 25px;
}
#banner .btnc {
padding: 4px 10px;
}
#banner .btnc2 {
padding: 4px 10px;
}
}
@media only screen and (max-width: 576px) {
#about .title1 {
font-size: 38px;
}
.carousel-caption {
bottom: 15px;
}
.carousel-caption h1 {
font-size: 30px;
}
#banner .carousel-caption p {
font-size: 20px;
}
#banner .btnc {
padding: 4px 10px;
}
#banner .btnc2 {
padding: 4px 10px;
}
}
@media only screen and (max-width:469px) {
#about .title1 {
font-size:32px;
}
.carousel-caption {
bottom: 12px;
}
.carousel-caption h1 {
font-size: 24px;
}
#banner .carousel-caption p {
font-size: 16px;
}
#banner .btnc {
padding: 2px 6px;
font-size: 14px;
}
#banner .btnc2 {
padding: 2px 6px;
font-size: 14px;
}
.contact a{
	font-size: 13px;
}
.navbar-nav .nav-link{
margin:0px 0px 0px 0px;
}
}